.bd-content {
	-ms-flex-order: 1;
	order: 1;
}

.bd-sidebar {
	-ms-flex-order: 0;
	order: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
	.bd-sidebar {
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}

	@supports ((position: -webkit-sticky) or (position: sticky)) {
		.bd-sidebar {
			position: -webkit-sticky;
			position: sticky;
			top: 0rem;
			z-index: 1000;
			height: calc(100vh);
		}
	}
	.icono-nombre{
		display: inline-block;
	}
	/* .nombre > p{
		text-transform: capitalize;
		text-transform: lowercase;
	} */
}

@media (min-width: 1200px) {
	.bd-sidebar {
		-ms-flex: 0 1 320px;
		flex: 0 1 320px;
	}
	.crop-imagen {
		width: 184px;
		height: 285px;
		overflow: hidden;
		border: 5px solid #FFFFFF;
		box-shadow: 0px 0px 10px #3f3f3f;
	}
	.crop-imagen>img {
		display: inline;
		margin: 0 auto;
		height: 100%;
		width: auto;
	}
}

.bd-links {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-right: -15px;
	margin-left: -15px;
}

@media (min-width: 768px) {
	@supports ((position: -webkit-sticky) or (position: sticky)) {
		.bd-links {
			max-height: calc(100vh);
			overflow-y: auto;
		}
		.icono-nombre{
			margin-right: 10px;
		}
	}
	.crop-imagen {
		width: 157px;
		height: 240px;
		overflow: hidden;
		border: 5px solid #FFFFFF;
		box-shadow: 0px 0px 10px #3f3f3f;
	}
	.crop-imagen>img {
		display: inline;
		margin: 0 auto;
		height: 100%;
		width: auto;
	}
	.texto{
		font-size: large;
	}
	.col-sm {
		margin-left: 1rem !important;
	}
	.bd-links {
		display: block !important;
	}
}

@media (min-width: 360px) and (max-width: 768px){
	.bd-responsive {
		position: relative;
		padding: 1rem 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	}
	.icono-nombre{
		display: none;
	}
	.nombre > p{
		text-transform: uppercase;
	}
	.crop-imagen {
		width: 250px;
		height: 250px;
		position: relative;
		margin: 40px auto;
		overflow: hidden;
		border-radius: 50%;
		border: 5px solid #FFFFFF;
		box-shadow: 0px 0px 10px #3f3f3f;
	}
	.crop-imagen>img {
		display: inline;
		margin: 0 auto;
		height: 150%;
		width: auto;
	}
	.nombre{
		text-align: center;
		font-size: 32px;
		margin-bottom: 32px !important;
		font-weight: 600;
	}
	.correo{
		display: flex;
	}
	.titulo{
		margin-top: 1rem;
	}
}

.bd-toc-link {
    display: block;
    padding: .25rem 1.5rem;
    font-weight: 600;
    color: rgba(0,0,0,.65)
}

.bd-toc-link:hover {
    color: rgba(0,0,0,.85);
    text-decoration: none
}
.bd-toc-item.active>.bd-toc-link {
    color: rgba(0,0,0,.85)
}

.bd-toc-item.active>.bd-toc-link:hover {
    background-color: transparent
}

.bd-sidenav {
	display: none;
}

.bd-toc-item.active {
	margin-bottom: 1rem;
}

.bd-toc-item.active>.bd-sidenav {
	display: block;
}

.bd-sidebar .nav>li>a {
	display: block;
	padding: .25rem 1.5rem;
	font-size: 90%;
	color: rgba(0, 0, 0, 0.65);
}

.bd-sidebar .nav>li>a:hover {
	color: rgba(0, 0, 0, 0.85);
	text-decoration: none;
	background-color: transparent;
}

.bd-sidebar .nav>.active>a,
.bd-sidebar .nav>.active:hover>a {
	font-weight: 600;
	color: rgba(0, 0, 0, 0.85);
	background-color: transparent;
}
.lista-funciones {
	hyphens: auto;
	padding-left: 0;
}

.texto-informacion {
	hyphens: auto;
}

.icono {
	padding-right: 0.5rem;
}

.correo{
    white-space: nowrap;
    position: relative;
}
.fun{
	display: none;
}