<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Demo</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Bootstrap files (jQuery first, then Popper.js, then Bootstrap JS) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.min.css"
        integrity="sha512-SUwyLkI1Wgm4aEZkDkwwigXaOI2HFLy1/YW73asun4sfvlkB9Ecl99+PHfCnfWD0FJjIuFTvWMM7BZPXCckpAA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    </script>
    <link rel="preload" href="../css/style.css" as="style">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3 col-xl-4 bd-sidebar">
                <form role="search" class="bd-responsive d-flex align-items-center">
                    <button class="btn btn-link d-md-none p-0 ml-3 collapsed" type="button" data-toggle="collapse"
                        data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false"
                        aria-label="Toggle docs navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                            viewBox="0 0 30 30" role="img" focusable="false">
                            <title>Menu</title>
                                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22">
                            </path>
                        </svg>
                    </button>
                </form>
                
                <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
                    <!-- <div id="includedContent"></div> -->
                    <div class="bd-toc-item active">
                        <!-- <a class="bd-toc-link" href="/docs/4.4/getting-started/introduction/">Getting started</a> -->
                        <ul class="nav bd-sidenav">
                            <!-- <li class="active bd-sidenav-active"><a href="#">Download</a></li> -->
                            <li class=""><a href="/funcionarios/gerencia-municipal.html">Gerencia Municipal</a></li>
                            <li class=""><a href="/funcionarios/procurador-publico-municipal.html">Procurador P&uacute;blico Municipal</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-secretaria-general.html">Subgerencia de Secretar&iacute;a General</a></li>
                            <li class=""><a href="/funcionarios/gerencia-de-administracion-y-finanzas.html">Gerencia de Administraci&oacute;n y Finanzas</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-logistica.html">Subgerencia de Log&iacute;stica</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-finanzas.html">Subgerencia de Finanzas</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-gestion-de-talento-humano.html">Subgerencia de Gesti&oacute;n de Talento Humano</a></li>
                            <li class=""><a href="/funcionarios/gerencia-de-planeamiento-presupuesto-e-inversiones.html">Gerencia de Planeamiento, Presupuesto E Inversiones</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-asesoria-juridica.html">Subgerencia de Asesor&iacute;a Jur&iacute;dica</a></li>
                            <li class=""><a href="/funcionarios/gerencia-de-administracion-tributaria.html">Gerencia de Administraci&oacute;n Tributaria</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-recaudacion-y-ejecucion-coactiva.html">Subgerencia de Recaudaci&oacute;n y Ejecuci&oacute;n Coactiva</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-registro-y-fiscalizacion-tributaria.html">Subgerencia de Registro y Fiscalizaci&oacute;n Tributaria</a></li>
                            <li class=""><a href="/funcionarios/gerencia-de-desarrollo-urbano.html">Gerencia de Desarrollo Urbano</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-autorizaciones-municipales.html">Subgerencia de Autorizaciones Municipales</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-gestion-del-riesgo-de-desastres.html">Subgerencia de Gesti&oacute;n Del Riesgo de Desastres</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-saneamiento-y-planeamiento-urbano.html">Subgerencia de Saneamiento y Planeamiento Urbano</a></li>
                            <li class=""><a href="/funcionarios/gerencia-de-ordenamiento-urbano.html">Gerencia de Ordenamiento Urbano</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-inspecciones-y-control-urbano.html">Subgerencia de Inspecciones y Control Urbano</a></li>
                            <li class=""><a href="/funcionarios/gerencia-de-inversiones-publicas.html">Gerencia de Inversiones P&uacute;blicas</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-estudios-y-proyectos.html">Subgerencia de Estudios y Proyectos</a></li>
                            <li class=""><a href="/funcionarios/gerencia-de-participacion-vecinal-y-desarrollo-social.html">Gerencia de Participaci&oacute;n Vecinal y Desarrollo Social</a></li>
                            <li class=""><a href="/funcionarios/gerencia-de-gestion-ambiental.html">Gerencia de Gesti&oacute;n Ambiental</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-parques-y-jardines.html">Subgerencia de Parques y Jardines</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-limpieza-publica.html">Subgerencia de Limpieza P&uacute;blica</a></li>
                            <li class=""><a href="/funcionarios/gerencia-de-salud.html">Gerencia de Salud</a></li>
                            <li class=""><a href="/funcionarios/gerencia-de-seguridad-ciudadana.html">Gerencia de Seguridad Ciudadana</a></li>
                            <li class=""><a href="/funcionarios/subgerencia-de-serenazgo.html">Subgerencia de Serenazgo</a></li>
                        </ul>
                    </div>
                </nav>
            </div>

            <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                <!-- Inicio -->
                
                <!-- Fin -->
            </main>
        </div>
    </div>
</body>

</html>