<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Demo</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Bootstrap files (jQuery first, then Popper.js, then Bootstrap JS) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.min.css"
        integrity="sha512-SUwyLkI1Wgm4aEZkDkwwigXaOI2HFLy1/YW73asun4sfvlkB9Ecl99+PHfCnfWD0FJjIuFTvWMM7BZPXCckpAA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preload" href="../css/style.css" as="style">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3 col-xl-4 bd-sidebar">
                <form role="search" class="bd-responsive d-flex align-items-center">
                    <button class="btn btn-link d-md-none p-0 ml-3 collapsed" type="button" data-toggle="collapse"
                        data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false"
                        aria-label="Toggle docs navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                            viewBox="0 0 30 30" role="img" focusable="false">
                            <title>Menu</title>
                                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22">
                            </path>
                        </svg>
                    </button>
                </form>
                
                <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
                    <!-- <div id="includedContent"></div> -->
                    <div class="bd-toc-item active">
                        <a class="bd-toc-link" href="/funcionarios/">Funcionarios</a>
                        <!-- <a class="bd-toc-link" href="/docs/4.4/getting-started/introduction/">Getting started</a> -->
                        <ul class="nav bd-sidenav">
                            <!-- <li class="active bd-sidenav-active"><a href="#">Download</a></li> -->
                            <li class="active bd-sidenav-active"><a href="/funcionarios/gerencia-municipal.html">Gerencia Municipal</a></li>
                            <li><a href="/funcionarios/procurador-publico-municipal.html">Procurador P&uacute;blico Municipal</a></li>
                            <li><a href="/funcionarios/subgerencia-de-secretaria-general.html">Subgerencia de Secretar&iacute;a General</a></li>
                            <li><a href="/funcionarios/gerencia-de-administracion-y-finanzas.html">Gerencia de Administraci&oacute;n y Finanzas</a></li>
                            <li><a href="/funcionarios/subgerencia-de-logistica.html">Subgerencia de Log&iacute;stica</a></li>
                            <li><a href="/funcionarios/subgerencia-de-finanzas.html">Subgerencia de Finanzas</a></li>
                            <li><a href="/funcionarios/subgerencia-de-gestion-de-talento-humano.html">Subgerencia de Gesti&oacute;n de Talento Humano</a></li>
                            <li><a href="/funcionarios/gerencia-de-planeamiento-presupuesto-e-inversiones.html">Gerencia de Planeamiento, Presupuesto E Inversiones</a></li>
                            <li><a href="/funcionarios/subgerencia-de-asesoria-juridica.html">Subgerencia de Asesor&iacute;a Jur&iacute;dica</a></li>
                            <li><a href="/funcionarios/gerencia-de-administracion-tributaria.html">Gerencia de Administraci&oacute;n Tributaria</a></li>
                            <li><a href="/funcionarios/subgerencia-de-recaudacion-y-ejecucion-coactiva.html">Subgerencia de Recaudaci&oacute;n y Ejecuci&oacute;n Coactiva</a></li>
                            <li><a href="/funcionarios/subgerencia-de-registro-y-fiscalizacion-tributaria.html">Subgerencia de Registro y Fiscalizaci&oacute;n Tributaria</a></li>
                            <li><a href="/funcionarios/gerencia-de-desarrollo-urbano.html">Gerencia de Desarrollo Urbano</a></li>
                            <li><a href="/funcionarios/subgerencia-de-autorizaciones-municipales.html">Subgerencia de Autorizaciones Municipales</a></li>
                            <li><a href="/funcionarios/subgerencia-de-gestion-del-riesgo-de-desastres.html">Subgerencia de Gesti&oacute;n Del Riesgo de Desastres</a></li>
                            <li><a href="/funcionarios/subgerencia-de-saneamiento-y-planeamiento-urbano.html">Subgerencia de Saneamiento y Planeamiento Urbano</a></li>
                            <li><a href="/funcionarios/gerencia-de-ordenamiento-urbano.html">Gerencia de Ordenamiento Urbano</a></li>
                            <li><a href="/funcionarios/subgerencia-de-inspecciones-y-control-urbano.html">Subgerencia de Inspecciones y Control Urbano</a></li>
                            <li><a href="/funcionarios/gerencia-de-inversiones-publicas.html">Gerencia de Inversiones P&uacute;blicas</a></li>
                            <li><a href="/funcionarios/subgerencia-de-estudios-y-proyectos.html">Subgerencia de Estudios y Proyectos</a></li>
                            <li><a href="/funcionarios/gerencia-de-participacion-vecinal-y-desarrollo-social.html">Gerencia de Participaci&oacute;n Vecinal y Desarrollo Social</a></li>
                            <li><a href="/funcionarios/gerencia-de-gestion-ambiental.html">Gerencia de Gesti&oacute;n Ambiental</a></li>
                            <li><a href="/funcionarios/subgerencia-de-parques-y-jardines.html">Subgerencia de Parques y Jardines</a></li>
                            <li><a href="/funcionarios/subgerencia-de-limpieza-publica.html">Subgerencia de Limpieza P&uacute;blica</a></li>
                            <li><a href="/funcionarios/gerencia-de-salud.html">Gerencia de Salud</a></li>
                            <li><a href="/funcionarios/gerencia-de-seguridad-ciudadana.html">Gerencia de Seguridad Ciudadana</a></li>
                            <li><a href="/funcionarios/subgerencia-de-serenazgo.html">Subgerencia de Serenazgo</a></li>
                        </ul>
                    </div>
                </nav>
            </div>

            <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                <div class="titulo">
                    <p class="text-uppercase text-center h2">Gerencia Municipal</p>
                </div>
                
                <div class="crop-imagen">
                    <img alt="" src="../images/funcionarios/2019-2022/profile-men.jpg">
                </div>
                
                <div class="nombre">
                    <!-- <i class="fas fa-user mr-3"></i> -->
                    <p class="text-center h2 text-capitalize">ALEJANDRO EDUARDO DE LA CRUZ FARF&Aacute;N</p>
                </div>
                <br>
                
                <div class="container">
                    <p class="mb-2">
                        <span class="icono">
                            <i class="fas fa-file-pdf"></i>
                        </span>&nbsp;R. N&ordm; 001-2019-MDPP 
                        <a href="https://www.munipuentepiedra.gob.pe/transparencia_doc/01_datos_generales/normas-emitidas/ra_resolucion_alcaldia/2019/ra0001-2019-mdpp.pdf"
                        target="_onblank">(Ver/Descargar)</a>
                    </p>
                    <p class="mb-2">
                        <span class="icono">
                            <i class="fas fa-phone"></i>
                        </span>
                        <a href="tel:012196200;ext=6207">(01) 219-6200 Anexo: 6207</a>
                    </p>
                    <p class="mb-2 overflow-auto">
                        <span class="icono">
                            <i class="fas fa-at"></i>
                        </span>
                        <a href="mailto:adelacruz@munipuentepiedra.gob.pe">adelacruz@munipuentepiedra.gob.pe</a>
                    </p>
                </div>
                
                <hr>
                
                <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
                    <li class="nav-item flex-sm-fill">
                        <a id="informacion-tab" data-toggle="tab" href="#informacion" role="tab" aria-controls="informacion" aria-selected="true" class="nav-link border-0 font-weight-bold active">
                            Informaci&oacute;n
                        </a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a id="funciones-tab" data-toggle="tab" href="#funciones" role="tab" aria-controls="funciones" aria-selected="false" class="nav-link border-0 font-weight-bold">
                            Funciones
                        </a>
                    </li> 
                </ul>
                
                <div id="myTabContent" class="tab-content">
                    <div id="informacion" role="tabpanel" aria-labelledby="informacion-tab" class="tab-pane fade px-4 py-5 show active">
                        <div class="texto-informacion text-justify">
                            <p>La Gerencia Municipal es un &oacute;rgano de direcci&oacute;n ejecutiva y administrativa de la
                                gesti&oacute;n municipal, encargado de la gesti&oacute;n estrat&eacute;gica de la municipalidad,
                                desarrollando los procesos de planificaci&oacute;n, organizaci&oacute;n, direcci&oacute;n y control a
                                efectos de alcanzar elevados niveles de eficiencia y eficacia en las acciones municipales en beneficio
                                de la comunidad. Depende jer&aacute;rquicamente de Alcald&iacute;a, y est&aacute; a cargo de un
                                funcionario p&uacute;blico, con la denominaci&oacute;n de Gerente Municipal, quien es designado por
                                Resoluci&oacute;n de Alcald&iacute;a.&nbsp;</p>
                        </div>
                    </div>
                    <div id="funciones" role="tabpanel" aria-labelledby="funciones-tab" class="tab-pane fade px-4 py-5">
                        <ul class="lista-funciones text-justify">
                            <li>Elaborar la propuesta de Plan Operativo Institucional correspondiente a su unidad org&aacute;nica, alineada al Plan
                                Estrat&eacute;gico Institucional (PEI), y ejecutarlo una vez aprobado.</li>
                            <li>Dirigir, supervisar y controlar las acciones de los &oacute;rganos de la gesti&oacute;n municipal a su cargo.</li>
                            <li>Dirigir, supervisar, coordinar y controlar las acciones de gesti&oacute;n municipal, relacionadas con la
                                ejecuci&oacute;n y cumplimiento de los Planes Institucionales, Presupuesto Institucional de Apertura y Presupuesto
                                Participativo Municipal para cada periodo anual.</li>
                            <li>Programar, organizar, dirigir y controlar los procesos de modernizaci&oacute;n y fortalecimiento institucional para
                                garantizar que el desarrollo de la organizaci&oacute;n &eacute;ste acorde con los objetivos estrat&eacute;gicos del
                                desarrollo local.</li>
                            <li>Programar, organizar, dirigir y controlar los procesos de gesti&oacute;n de personal, gesti&oacute;n
                                econ&oacute;mica y financiera, gesti&oacute;n log&iacute;stica y de servicios generales de la Municipalidad.</li>
                            <li>Programar, organizar, dirigir y controlar los procesos de comunicaci&oacute;n y toma de decisiones de los
                                funcionarios que asegure una adecuada motivaci&oacute;n y compromiso del personal con los objetivos institucionales
                                para alcanzar de manera coordinada, eficiente y eficaz las metas propuestas en los planes de desarrollo y planes de
                                acci&oacute;n.</li>
                            <li>Programar, organizar, dirigir y controlar los procesos de control y evaluaci&oacute;n de los resultados de la
                                gesti&oacute;n municipal a efectos que se rinda cuenta permanentemente a la comunidad del avance en el logro de las
                                metas y objetivos institucionales y del desarrollo local.</li>
                            <li>Proponer al Alcalde las pol&iacute;ticas y acciones de gesti&oacute;n municipal, de los servicios p&uacute;blicos y
                                de las inversiones.</li>
                            <li>Ejercer el liderazgo en la gesti&oacute;n de la calidad total en la gesti&oacute;n municipal, en la
                                prestaci&oacute;n de los servicios p&uacute;blicos municipales y en la realizaci&oacute;n de las inversiones,
                                desarrollando una administraci&oacute;n estrat&eacute;gica para alcanzar altos niveles de productividad y calidad de
                                la gesti&oacute;n, en un ambiente de competitividad, creatividad, innovaci&oacute;n y de cambios continuos;
                                incorporando permanentemente nuevas tecnolog&iacute;as en los procesos municipales.</li>
                            <li>Velar por la legalidad y continuidad de todos los procesos de la gesti&oacute;n municipal, y brindar apoyo al
                                Alcalde en las acciones ejecutivas de la gesti&oacute;n municipal; informando y d&aacute;ndole cuenta de las
                                acciones municipales.</li>
                            <li>Emitir Resoluciones de Gerencia Municipal aprobando directivas o resolviendo asuntos administrativos en materias
                                relacionadas con la gesti&oacute;n municipal, de los servicios p&uacute;blicos locales, de las inversiones
                                municipales; as&iacute; como en aquellas otras materias que le fuesen delegados por el Alcalde.</li>
                            <li>Aprobar las nulidades de los distintos procedimientos administrativos y otros.</li>
                            <li>Designar a los representantes y aprobar el Acta Final de la Comisi&oacute;n Paritaria.</li>
                            <li>Revocar los actos administrativos emitidos por la Entidad.</li>
                            <li>Brindar atenci&oacute;n a las comunicaciones, hallazgos y otros derivados del &Oacute;rgano de Control Interno,
                                Contralor&iacute;a General de la Republica, Sociedad Auditora y otros similares.</li>
                            <li>Suscribir contratos en general en representaci&oacute;n del Alcalde.</li>
                            <li>Suscribir oficios u otro tipo de documentos a distintas entidades p&uacute;blicas y privadas en
                                representaci&oacute;n del alcalde.</li>
                            <li>Revisar y suscribir el proyecto de la cuenta general y la memoria de la gesti&oacute;n institucional para cada
                                per&iacute;odo anual, en coordinaci&oacute;n con la Gerencia de Planeamiento, Presupuesto e Inversiones y la
                                Gerencia de Administraci&oacute;n y Finanzas, para que sea sometido por el Alcalde a la aprobaci&oacute;n del
                                Concejo Municipal.</li>
                            <li>Formular el Informe Anual de Rendici&oacute;n de Cuentas de la entidad, para que sea suscrito por el Alcalde antes
                                de su remisi&oacute;n a la Contralor&iacute;a General de la Rep&uacute;blica y sea expuesto ante el Concejo
                                Municipal y las instancias de fiscalizaci&oacute;n y coordinaci&oacute;n vecinal.</li>
                            <li>Suscribir, los contratos que formalicen actos de administraci&oacute;n y disposici&oacute;n de bienes municipales, a
                                trav&eacute;s de las modalidades que la ley prev&eacute; y conforme a los procedimientos vigentes.</li>
                            <li>Suscribir, por delegaci&oacute;n del Alcalde, las acciones que corresponden al titular del pliego presupuestario.
                            </li>
                            <li>Proponer al Alcalde las personas que podr&iacute;an ser designadas como empleados de confianza, seg&uacute;n lo
                                establecido en la normativa vigente.</li>
                            <li>Hacer cumplir los acuerdos y pol&iacute;ticas de gesti&oacute;n emanadas del Concejo Municipal y la Alcald&iacute;a
                                disponiendo adecuadamente de los recursos materiales, econ&oacute;mico - financieros y del personal necesario para
                                cada &aacute;rea de gesti&oacute;n municipal, a efectos de lograr cumplir con los objetivos y metas institucionales.
                            </li>
                            <li>Elaborar y mantener los reportes estad&iacute;sticos de las acciones y servicios de su competencia.</li>
                            <li>Organizar los archivos digitales y documentaci&oacute;n f&iacute;sica de su competencia, manteniendo su custodia de
                                forma segura.</li>
                            <li>Representar al Alcalde ante organismos p&uacute;blicos y privados nacionales e internacionales, en actos
                                relacionados con la gesti&oacute;n municipal y los servicios p&uacute;blicos locales.</li>
                            <li>Realizar las dem&aacute;s funciones que le sean asignadas por Alcald&iacute;a.</li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>