<div class="titulo">
    <p class="text-uppercase text-center h2 mb-2">Gerencia Municipal</p>
</div>

<div class="crop-imagen">
    <img alt="" src="images/funcionarios/2019-2022/profile-men.jpg"/>
</div>

<div class="nombre">
    <!-- <i class="fas fa-user mr-3"></i> -->
    <p class="text-center h2 text-capitalize">NOMBRES</p>
</div>
<br>

<div class="container">
    <p class="mb-2">
        <span class="icono">
            <i class="fas fa-file-pdf"></i>
        </span>&nbsp;R. N&ordm; 000-2019-MDPP 
        <a href="#"
        target="_onblank">(Ver/Descargar)</a>
    </p>
    <p class="mb-2">
        <span class="icono">
            <i class="fas fa-phone"></i>
        </span>
        <a href="tel:012196200;ext=0000">(01) 219-6200 Anexo: 0000</a>
    </p>
    <p class="mb-2 overflow-auto">
        <span class="icono">
            <i class="fas fa-at"></i>
        </span>
        <a href="mailto:@munipuentepiedra.gob.pe">@munipuentepiedra.gob.pe</a>
    </p>
</div>

<hr>

<ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
    <li class="nav-item flex-sm-fill">
        <a id="informacion-tab" data-toggle="tab" href="#informacion" role="tab" aria-controls="informacion" aria-selected="true" class="nav-link border-0 font-weight-bold active">
            Informaci&oacute;n
        </a>
    </li>
    <li class="nav-item flex-sm-fill">
        <a id="funciones-tab" data-toggle="tab" href="#funciones" role="tab" aria-controls="funciones" aria-selected="false" class="nav-link border-0 font-weight-bold">
            Funciones
        </a>
    </li> 
</ul>

<div id="myTabContent" class="tab-content">
    <div id="informacion" role="tabpanel" aria-labelledby="informacion-tab" class="tab-pane fade px-4 py-5 show active">
        <div class="texto-informacion text-justify">
            <p></p>
        </div>
    </div>
    <div id="funciones" role="tabpanel" aria-labelledby="funciones-tab" class="tab-pane fade px-4 py-5">
        <ul class="lista-funciones text-justify">
            <li></li>
        </ul>
    </div>
</div>